.StoryReel {
    display: flex;
    max-width: 620px;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    width: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide:nth-child(1) {
    margin-left: 10px;
}