.sidebar_row {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }

    .MuiSvgIcon-root {
        font-size: xx-large;
        color: #2e81f4;
    }

    h4 {
        margin-left: 20px;
        font-weight: 600;
    }


}