.post {
    margin-top: 15px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    max-width: 620px;

    .post_top {
        display: flex;
        position: relative;
        align-items: center;
        padding: 12px;

        .top_info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-left: 15px;

            h3 {
                font-size: medium;
            }

            .timestamp {
                color: gray;
                font-size: small;
            }

            .threeDots {
                color: rgb(83, 83, 83);
            }
        }
    }

    .post_body {
        width: 100%;


        .title {
            padding: 0px 12px;
            padding-bottom: 8px;
        }

        .post_img {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .post_bottom {
        padding: 10px;
        border-top: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        color: gray;
        cursor: pointer;
        font-size: medium;
        padding: 15px;

        .post_action {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            flex: 1;

            &:hover {
                background-color: #eff2f5;
                border-radius: 6px;
            }

            p {
                margin-left: 10px
            }

        }
    }
}