.login {
    display: flex;
    justify-content: center;
    padding: 55px 0;
    flex-direction: column;
    align-items: center;
    gap: 155px;

    button {
        width: 300px;
        background-color: #c7deff !important;
        color: black !important;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: medium;
        gap: 10px;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c6ef8;
    gap: 28px;
}